<footer class="wl-footer">
  <div class="footer-inner">
    <a href="/listings" class="footer-brand">
      <i class="fa-solid fa-compass me-1"></i>Wanderlust
    </a>
    <p class="footer-copy">&copy; 2024 Wanderlust. All rights reserved.</p>
    <div class="footer-links">
      <a href="/listings">Explore</a>
      <a href="/listings/new">List your space</a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
  </div>
</footer>