<footer class="wl-footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <i class="fa-solid fa-compass me-2"></i>Wanderlust
    </div>
    <div class="footer-copy">&copy; 2026 Wanderlust Private Limited</div>
    <div class="footer-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="footer-links">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
  </div>
</footer>